.home {
  height: 100vh;
  padding: 3em 10vw;
  background-color: #9236d9;
  background-image: url(../assets/img/stadium.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //   background-blend-mode: overlay;
  background-blend-mode: soft-light;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;

    input {
      width: 20vw;
    }
  }

  .vs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

    h1,
    h3 {
      color: white;
    }

    h1 {
      font-size: 230%;
      font-weight: 900;
    }

    h3 {
      opacity: 0.7;
      font-weight: lighter;
    }

    .left,
    .right {
      width: 40vw;
    }

    .right {
      text-align: end;

      .club {
        justify-content: end;
      }
    }

    .club {
      display: flex;
      align-items: center;

      h3 {
        margin: 0 1em;
      }

      img {
        height: 70px;
      }
    }
  }
}
